// Buttons
// Sizes:  .btn-large, .btn-small, .btn-mini and normal
// -----------------------------------------------------------------
@mixin bzng-button($btn-bg-color: blue) {
  -webkit-appearance: none;
  background-color: $btn-bg-color;
  border: 1px solid transparent;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: .75em;
  padding-bottom: .75em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &,
  &:link {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: scale-color($btn-bg-color, $lightness: -2.5%);
    text-decoration: none;
    color: #fff;
    @include transition(all .3s);
  }

  &:focus {
    border-color: yellow;
    outline: 0;
  }

  &:active {
    background-color: scale-color($btn-bg-color, $lightness: -12%);
    color: #fff;
    @include transition(none);
  }

  &.disabled,
  &.inactive,
  &[disabled='disabled'] {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      opacity: 0.4;
      background-color: $btn-bg-color;
      text-decoration: none;
      cursor: default;
    }
  }
}

// Placeholder selector available for extending purposes.
%btn {
  @include bzng-button;
}

.btn {
  @extend %btn;
}