.toolbar {
  @include clearfix; // test compass
  @include box-shadow(inset -4px -4px 10px scale_color(#f1e6b2, $lightness: -25%)); // test compass
  background: #f1e6b2;
  padding: 8px;
  margin-bottom: 12px;
}

.bzng-editor {
  display: inline-block;
  width: 80%;
  height: 700px;
  margin: 0 auto;
}