.container {
 display: block;
}


.grid__item, .grid {
  float: left;
  display: initial;
  margin: 0;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}