// bazinga-editor

.wysihtml5-sandbox {
  display: block;
  width: 100% !important;
  min-height: 100%;
}


.demo-block{
    padding:0.5em;
    background-color:#4a8ec2;
    color:#fff;
    border-radius:4px;
}