/*------------------------------------*\
    TOPBAR
\*------------------------------------*/  

#topbar {
  background: $sea-green;
  color: $white-color;
  padding: 0.6em 0 0.6em 1.5em;
  border-bottom: 1px solid $sea-green-dark;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0,0,0, .6);

  h1 {
    float: none;
    font-size: 1.25em;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
  }


  .container {
    display: inline-block;
    margin: 0;
    top: 60px;

    h1 {
      font-size: 1.8em;
      line-height: 1.0em;
      margin: 0;
    }
  }

}