%h1 Bazinga!!!

#bzng-toolbar{:style => "display: none;"}
  %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h1"} H1
  %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h2"} H2
  %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h3"} H3
  %a{"data-wysihtml5-command" => "bold"} bold
  %a{"data-wysihtml5-command" => "italic"} italic
  %a{"data-wysihtml5-command" => "insertUnorderedList"} UL
  %a{"data-wysihtml5-command" => "insertOrderedList"} OL
  %a{"data-wysihtml5-command" => "insertHTML", "data-wysihtml5-command-value" => "<div class='highlight'>Insert text here.</div>"} highlight
  / Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href)
  %a{"data-wysihtml5-command" => "createLink"} link
  %div{"data-wysihtml5-dialog" => "createLink", :style => "display: none;"}
    %label
      Link:
      %input.text{"data-wysihtml5-dialog-field" => "href", :value => "http://"}/
    %a{"data-wysihtml5-dialog-action" => "save"} OK
    %a{"data-wysihtml5-dialog-action" => "cancel"} Cancel
%form
  = text_area_tag "bazinga-editor", nil, id: "bzng-editor", placeholder: "Enter your text ...", class: "bzng-editor", autofocus: true

-#### START JAVASCRIPT FOR WYSIHTML5
-#=======================================
= javascript_include_tag "advanced", "wysihtml5-0.3.0"
:javascript
  var wysihtml5ParserRules = {
    tags: {
      "<div class='highlight'>Insert text here.</div>": 1
    }
  };

  var editor = new wysihtml5.Editor("bzng-editor", {
    toolbar: "bzng-toolbar"
    ,parserRules: wysihtml5ParserRules
    ,stylesheets: ["#{stylesheet_path('wysihtml5')}", "#{stylesheet_path('bzng-editor')}"]
  });

